.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-title {
  font-weight: bold;
  font-size: 1.3rem;
}
.spacer {
  flex: 1 1 auto;
}
.sidenav-container {
  height: 100vh;
}
.mat-sidenav {
  width: 220px;
}
.hide-desktop {
  display: none;
}
.username {
  margin-left: 1rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .hide-desktop {
    display: inline-flex;
  }
}
