<div class="app-layout">
  <!-- Header -->
  <mat-toolbar class="header mat-elevation-z4">
    <div class="header-container">
      <div class="header-left">
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/" class="logo-container">
          <img src="assets/images/pokemon-logo.png" alt="Pokemon Logo" class="logo">
          <span class="app-title">Pokémon App</span>
        </a>
      </div>

      <div class="header-right">
        <ng-container *ngIf="(isAuthenticated$ | async) && (currentUser$ | async) as user">
          <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
            <img [src]="'assets/images/default-avatar.png'" alt="User Avatar" class="user-avatar">
            <span class="username hide-mobile">{{ user.username }}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu" class="user-menu">
            <button mat-menu-item routerLink="/profile">
              <mat-icon>account_circle</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item routerLink="/favorites">
              <mat-icon>favorite</mat-icon>
              <span>Favorites</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()" class="logout-button">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </ng-container>

        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <a mat-flat-button color="primary" routerLink="/login" class="login-button">Login</a>
        </ng-container>
      </div>
    </div>
  </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" 
               [opened]="!isSmallScreen" 
               (closedStart)="onSidenavClose()"
               class="sidenav mat-elevation-z2">
    <div class="sidenav-header">
      <img src="assets/images/pokemon-logo.png" alt="Pokemon Logo" class="sidenav-logo">
    </div>
    
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link" 
         [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/pokemons" routerLinkActive="active-link" class="nav-item">
        <mat-icon>catching_pokemon</mat-icon>
        <span>Pokémons</span>
      </a>
      <a mat-list-item routerLink="/favorites" routerLinkActive="active-link" class="nav-item">
        <mat-icon>favorite</mat-icon>
        <span>Favorites</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
