<div class="pokemon-card">
  <div class="card-header">
    <span class="pokemon-id">#{{pokemon.id.toString().padStart(3, '0')}}</span>
    <button 
      *ngIf="showFavorite"
      class="favorite-button"
      [class.active]="isFavorite"
      (click)="onFavoriteClick($event)"
      aria-label="Toggle favorite">
      <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </div>

  <div class="image-container">
    <img [src]="pokemon.image" [alt]="pokemon.name" />
  </div>

  <div class="pokemon-info">
    <h3 class="pokemon-name">{{ pokemon.name }}</h3>
    
    <div class="pokemon-stats">
      <div class="types" *ngIf="pokemon.types?.length">
        <span 
          class="type-badge"
          *ngFor="let type of pokemon.types"
          [attr.data-type]="type.toLowerCase()">
          {{type}}
        </span>
      </div>
      
      <div class="speed" *ngIf="pokemon.speed !== undefined">
        <span class="speed-badge">
          Speed: {{pokemon.speed}}
        </span>
      </div>
    </div>
  </div>
</div>
