.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}
.carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}
@media (max-width: 900px) {
  .pokemon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .pokemon-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
