<div class="favorites-container">
  <header class="page-header">
    <h1>My Favorite Pokémon</h1>
  </header>

  <div *ngIf="isLoading" class="loading-state">
    <mat-spinner diameter="48"></mat-spinner>
    <p>Loading favorites...</p>
  </div>

  <div *ngIf="error" class="error-state">
    <p>{{ error }}</p>
    <button (click)="loadFavorites()" class="retry-button">Try Again</button>
  </div>

  <ng-container *ngIf="!isLoading && !error">
    <div *ngIf="favorites.length > 0; else noFavorites" class="favorites-grid">
      <app-pokemon-card
        *ngFor="let pokemon of favorites; trackBy: trackByPokemonId"
        [pokemon]="pokemon"
        [showFavorite]="true"
        (click)="openPokemonDetails(pokemon)">
      </app-pokemon-card>
    </div>

    <ng-template #noFavorites>
      <div class="empty-state">
        <p>You haven't added any Pokémon to your favorites yet.</p>
        <a routerLink="/pokemons" class="browse-button">Browse Pokémon</a>
      </div>
    </ng-template>
  </ng-container>
</div>
